@import "frame.css";

 
/****************************
*                           *
****************************/
.site-sec1{
    background-color:#fff;
}
.aboutus {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.abouttitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    width: calc(33.33% - 10px);
}

h3 {
    padding: 65px 0;
}

.textone {
    font-family: 'Arial';
    font-size: 16px;
    padding: 13px 0;
}

.texttwo {
    font-size: 13px;
    margin-bottom: 21px;
    color: grey;
}

.choose {
    width: calc(33.33% - 10px);
}

.acap {
    width: 80px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    margin: 0 12px 0 0;
    padding: 2px;
    border: 10px;
    border-color: rgb(255, 0, 98);
    border-radius: 100%;
    background-color:#d2dbe7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textthree {
    font-size: 13px;
    color: grey;
    margin: 0 0 33px 0;
}

.a , .b , .c {
    display: flex;
}

.staff {
    width: calc(33.33% - 10px);
}

.staffimg {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.staffone {
    width: calc(50% - 5px);
}


.testitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tescontainer {
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    width: 100%;
}

.tesbox {
    width: calc(25% - 11.25px);
}

.tescontent {
    font-size: 13px;
    color: grey;
    margin: 0 0 31px 0;

}

.tesname {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 0 31px 0;
}

 

/****************************
*                           *
****************************/

@media(max-width: 768px) {

    .site-content-sec1-col-1, .site-content-sec1-col-2 {
        width: 50%;
    }

    .site-content-sec1-col-3 {
        width: 50%;
    }

    .site-content-sec2-col-1, .site-content-sec2-col-2 {
        width: 100%;
    }

    .site-content-sec3-col-1, .site-content-sec3-col-2 {
        width: 100%;
    }

    .site-content-sec2-col-left, .site-content-sec2-col-right {
        padding: 0px;
    }

    .site-content-sec3-col-left, .site-content-sec3-col-right {
        padding: 0px;
    }
    .about, .choose {
        width: calc(50% - 7.5px);
    }
    .staff{
        width: 100%;
    }
    .staffimg {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .tesbox{
        width: calc(50% - 10px) ;
        padding: 10px;
    } 
    
    .staffone {
        width: calc(33.33% - 6.67px);
    }


}

@media(max-width: 468px) {

    .site-content-sec1-col-1, .site-content-sec1-col-2, .site-content-sec1-col-3 {
        width: 100%
    }

    .site-content-sec2-col-left, .site-content-sec2-col-right {
        padding: 0px;
    }

    .site-content-sec3-col-left, .site-content-sec3-col-right {
        padding: 0px;
    }
    .about, .choose, .staff {
        width: 100%;
    }
    .staffimg {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .staffone {
        width: calc(33.33% - 6.67px);
    }
}