@import "reset.css";
/*---------------------------*/
/*Header footer use*/
/*---------------------------*/
:root {
    --app-body-background: #999eb1;
    --app-header-height: 230px;
    --app-header-nav-height:80px;
    --app-footer-height: 400px;
    --app-section-padding-height: 20px;
    --app-sectitle-padding-height: 40px;
    --app-content-text-color: #949393;
    --app-blue: #5fb7f8;
}
body {
    background-color: var(--app-body-background);
    padding-top:10px;
    padding-bottom:10px;
}
h3 {
    font-size: 36px;
    font-weight: 700;
}
h4 {
    font-size: 24px;
    font-weight: 400;
}
/*header style*/
header {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #f3f3f3;
}
.site-nav-container {
    display: flex;
    justify-content: center;
}
.site-nav-mobile-nav-container {
    display: flex;
    align-items: center;
}
.site-nav-container-sub {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*header content*/
.site-nav-container > div {
    height: 100%;
}

.site-nav-title h2 {
    line-height: var(--app-header-height);
    color: white;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}
.site-nav-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.site-nav-desktop-nav {
    height: var(--app-header-nav-height);
    display: flex;
   

}
.site-nav-desktop-nav div {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in-out;
    color: #000;
}
.site-nav-desktop-nav div:hover {
    color:#fff;
    background-color: var(--app-body-background);
    
}
.site-nav-desktop-nav div:hover a{
    color: #fff;
        
}
.sit-nav-logo{
    padding-top:10px;
    padding-bottom:20px;
}

.site-nav-mobile-nav {
    display: none;
    color: #000;
}
 
.ul-1 li {
    line-height: var(--app-header-nav-height);
    display: inline;
}
.site-nav-mobile-menu ul li {
    float: none;
    width: 100px;
    
}
.site-nav-mobile-menu ul {
   margin-left:10px;
   margin-top:10px;
}
.site-nav-mobile-menu {
    display: none;
    width: 100%;
    height: 0px;
    background-color: var(--app-body-background);
    overflow: hidden;
    border-radius: 4px;
}
    .site-nav-mobile-menu a {
        color: #fff;
        text-decoration: none;
        letter-spacing: 0.2px;
    }
.mobile-menu-ani-expand {
    animation: mobile-menu-ani-expand 0.5s linear;
    animation-fill-mode: forwards;
}

@keyframes mobile-menu-ani-expand {
    0% {
        height: 0;
         
    }

    100% {
        height: 90px;
         
    }
}
.mobile-menu-ani-collapse {
    animation: mobile-menu-ani-collapse 0.5s linear;
    animation-fill-mode: forwards;
}

@keyframes mobile-menu-ani-collapse {
    0% {
        height: 90px;
    }

    100% {
        height: 0px;
    }
}


header a {
    color: #000;
    text-decoration: none;
    letter-spacing: 0.2px;
}



/*herobanner style*/
.herobanner {
    width: 100%;
    height: calc(100vh * 0.8);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/banner-1.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-title {
    padding-bottom: 18px;
    text-align: center;
    animation: banner-content 0.5s ease-in-out;
    animation-duration: 1s;
}
.banner-title h2 {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}
.banner-subtitle p {
    font-size: 24px;
    color: #fff;
}
.banner-subtitle {
    text-align: center;
    padding-bottom: 32px;
    animation: banner-content 0.5s ease-in-out;
    animation-duration: 2s;
}
.banner-button{
   display:flex;
   justify-content:center;
   
}
.banner-button>div{
   padding:10px;
}
.banner-btn-more {
    width: 120px;
    height: 50px;
    color: #fff;
    font-size:16px;
    background-color: var(--app-blue);
    border-radius: 4px;
    animation: banner-content 0.5s ease-in-out;
    animation-duration: 3s;
    transition: all 0.25s ease-in-out;
}
.banner-btn-more:hover {
    background-color: #0f97fb;  
}

.banner-btn-hire {
    width: 120px;
    height: 50px;
    color: #fff;
    font-size: 16px;
    border: solid 1px var(--app-blue);
    background-color: transparent;
    border-radius: 4px;
    animation: banner-content 0.5s ease-in-out;
    animation-duration: 3s;
    transition: all 0.25s ease-in-out;
}
.banner-btn-hire:hover {
    background-color: #0f97fb;
}
@keyframes banner-content {
    0% {       
        opacity: 0;
    }
    100% {      
        opacity: 1;
    }
}
 
/*footer style*/
footer {
    height: var(--app-footer-height);
    background-color: #fff;
    border-top: 1px solid #f3f3f3;
}

/*fooder content*/
.site-footer-container {
    height: var(--app-footer-height);
   
}

.site-footer-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}
.site-footer-company-info {
    text-align: center;  
    overflow: hidden;
}
.site-footer-company-info span{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-decoration:none;
}
.p-2{
    color:#000;
    margin-top:20px;
}
.p-3 {
    font-size: 36px;
    font-weight: 700;
    color: var(--app-body-background);
    margin-top: 20px;
}
.site-footer-social-link {
    display: flex;
    justify-content:center;
    align-items:center;
}
.site-footer-social-link i + i {
    margin-left: 18px;
}
.site-footer-social-link i {
   
    color: #949393;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.site-footer-social-link i:hover {
    color: var(--app-blue);
}

 
@media(max-width: 768px) {

    .site-nav-mobile-menu {
        
        display: block;
        height:0px;
    }
    .site-nav-list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .site-nav-desktop-nav {
        display: none;
    }

    .site-nav-mobile-nav {
        display: block;
    }

    .site-content-sec1-col-1, .site-content-sec1-col-2 {
        width: 50%;
    }

    .site-content-sec1-col-3 {
        width: 50%;
    }

    .site-content-sec2-col-1, .site-content-sec2-col-2 {
        width: 100%;
    }

    .site-content-sec3-col-1, .site-content-sec3-col-2 {
        width: 100%;
    }

    .site-content-sec2-col-left, .site-content-sec2-col-right {
        padding: 0px;
    }

    .site-content-sec3-col-left, .site-content-sec3-col-right {
        padding: 0px;
    }

    h2 {
        font-size: 20px;
    }

    .banner-title h2 {
        font-size: 24px;
    }

    .banner-subtitle p {
        font-size: 18px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    .site-footer-company-info span a {
        font-size: 30px;
    }

    .site-footer-company-info p {
        font-size: 14px;
    }
}

@media(max-width: 468px) {

    .site-content-sec1-col-1, .site-content-sec1-col-2, .site-content-sec1-col-3 {
        width: 100%
    }

    h2 {
        font-size: 16px;
    }

    .banner-title h2 {
        font-size: 20px;
    }

    .banner-subtitle p {
        font-size: 16px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
    }

    .site-footer-company-info span a {
        font-size: 26px;
    }

    .site-footer-company-info p {
        font-size: 12px;
    }
}